@tailwind base;
@tailwind components;
@tailwind utilities;

/* defined font-face */
@font-face {
  font-family: roboto;
  src: url("../assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: roboto;
  src: url("../assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: roboto;
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

html {
  font-family: roboto, sans-serif;
}

/* common styles */
.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.transition-base {
  @apply transition-all duration-150 ease-linear;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
